# Ignore environment variable files
.env
.env.local
.env.*.local

# Virtual environment directories
venv/
env/
ENV/
.venv/
.env

# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Logs and databases
logs/
*.log

# Docker files
/docker-compose.override.yml


# Database files
*.db
*.sqlite
*.sql
*.csv

# Block chain data and artifacts
cache/
artifacts/
blockchain/ganache-db/

# Secret key and data of Ganache
ganache-data/

# Node
node_modules/
catboost_info/  

backend/contract_info.json

# Images
*.webp
*.png
*.jpeg
*.jpg

# Qwen
.qwen


