.account-container {
  padding: var(--size-2xs) var(--size-4xl);
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.top-info {
  gap: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.icons-container {
  gap: 10px;
  display: flex;
  align-items: center;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-info .ant-btn-link {
  padding: 0;
  height: auto;
  text-align: left;
}