.footer-container {
    background-color: var(--black-70);
    width: 100%;
    height: var(--size-3xl);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 3;
}

.footer-container span {
    opacity: 0.5;
    font-size: var(--size-sm);
}