@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import './Variables.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  transition: all 0.6s ease;
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

.App {
  min-height: 100vh;
}