@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import './Variables.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;  
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

.App {
  min-height: 100vh;
}

.icon-antd {
  font-size: var(--size-lg);
}

.scroll-wrapper::-webkit-scrollbar {
  height: 4px; 
}

.scroll-wrapper::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-wrapper::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4); 
  border-radius: 4px;
}

.scroll-wrapper::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.7);
}

.scroll-wrapper::-webkit-scrollbar {
  display: none;
}