.listing-card {
    border-radius: var(--size-sm);
    display: flex;
    flex-direction: column;
    padding: var(--size-2xs);
    width: 100%;
    overflow: hidden;
    z-index: 4;
    background-color: var(--liquid-glass-bg);
    backdrop-filter: blur(var(--liquid-glass-blur));
    box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
    border: 1.5px solid var(--black-transparent);
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
}