.filter-sticky {
  position: sticky;
  top: 0;
  z-index: 200;
  background: var(--ant-color-bg-layout);
  padding: var(--size-sm) 0;
  height: auto;
}

.main-container {
    padding: var(--size-2xs) var(--size-4xl);
}

.main-list {
    padding: 0 0 10px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: var(--size-max-width);
    margin: 0 auto;
}

.button-up {
    position: fixed;
    bottom: var(--size-xl);
    right: var(--size-s);
    width: var(--size-3xl) !important;
    height: var(--size-3xl) !important;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}