.header-container {
    width: 100%;
    height: auto;
    padding: var(--size-base) var(--size-4xl);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--black-100);
}

.header-title {
  color: var(--blue-main) !important;
  font-weight: var(--font-regular) !important;
  margin: 0 !important;
  
  &:hover {
    opacity: 0.65;
  }
}

.logo {
    display: flex;
    align-items: center;
    gap: var(--size-base);
    cursor: pointer;
}

.filter-sticky {
  position: sticky;
  top: 0;
  z-index: 200;
  background: var(--ant-color-bg-layout);
  padding: var(--size-sm) 0;
  height: auto;
}


.main-container {
    padding: var(--size-2xs) var(--size-4xl);

}

.main-list {
    padding: 0 0 10px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: var(--size-max-width);
    margin: 0 auto;
}



.listing-card {
    border-radius: var(--size-sm);
    display: flex;
    flex-direction: column;
    padding: var(--size-2xs);
    width: 100%;
    overflow: hidden;
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}




.footer-container {
    background-color: var(--black-70);
    width: 100%;
    height: var(--size-3xl);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-container span {
    opacity: 0.5;
    font-size: var(--size-sm);
}


.button-up {
    position: fixed;
    bottom: var(--size-xl);
    right: var(--size-s);
    width: var(--size-3xl) !important;
    height: var(--size-3xl) !important;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}