.card-container {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 4;
}

.black-tone {
    width: 100%;
    height: 100%; 
    position: absolute; 
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gift-properties {
    display: flex;
    flex-direction: row;
    gap: var(--size-s);
    z-index: 1001;
    position: absolute;
    top: var(--size-xs);
    right: var(--size-xs);
}

.eyeIcon {
    font-size: var(--size-xl);
    background: var(--black-100-semiopac);
    padding: var(--size-sm);
    border-radius: 50%;
    backdrop-filter: blur(var(--size-2xs));
}

.propbadge {
    backdrop-filter: blur(var(--size-2xs));
    border-radius: var(--size-xs);
    padding: var(--size-3xs) var(--size-xs);
    font-weight: var(--font-semibold);
    color: var(--white-100);
}

.number-badge {
    background: var(--accent-50);
}

.sale-badge {
    background: var(--green-accept);
}